* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1a1a1a;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}

/* header */
header {
    width: 100%;
    height: 50px;
    /* border: 1px solid white; */
}

.container-header, .container-footer{
    display: flex;
    justify-content: space-between;
}

.col-header-left, .col-header-right {
    height: 50px;
    padding: 0 10px;
}

.shield-check {
    color: #23d959;
    padding: 4px 5px;
}

.recording> i {
    color: red;
}

.recording {
    color: #fff;
    padding: 10px 15px;
}

.shield-check, .recording {
    background-color: #101010;
    border-radius: 5px;
    line-height: 50px;
}

.view {
    color: #fff;
    background-color: #212122;
    padding: 10px 15px;
    border-radius: 10px;
    line-height: 50px;
    text-decoration: none;
}

/* main */

.container-main {
    display: flex;
    height: calc(100vh - 100px);
    width: 100wh;
}

.main-left {
    display: flex;
    width: 10%;
    align-items: center;
}

.main-left a {
    text-decoration: none;
}

.skip-btn {
    position: relative;
    width: 60px;
    height: 90px;
    border: 2px solid black;
    background: linear-gradient(#222, #000);
    margin: 0 10px;
    font-size: 62px;
    text-align: center;
}

.skip-btn div {
    font-size: 10px;
    color: #aaabac;
    text-decoration: none;
}

.fa-caret-left {
    color: #2dbaff;
}

.fa-caret-right {

}

.main-center {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}

.main-right {
    width: 10%;
}

.user-container{
    display: flex;
    width: calc(20% - 5px);
    height: calc(20% - 5px);
    border-radius: 10px;
    position: relative;
    overflow: hidden;

}

.photo {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
    
.name-user {
    position: absolute;
    color: #fff;
    padding: 3px;
    background-color: rgba(0, 0, 0, 0.6);
    left: 5px;
    bottom: 5px;
    border-radius: 5px;
}

.special-user {
    position: absolute;
    left: 25%;
    bottom: 40%;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
}

.fa-microphone-slash {
    color: red;
}

/* footer */

.container-footer {
    color: #aaabac;
    background: linear-gradient(#222, #000);
}

.fa-microphone, .fa-video, .fa-shield-virus, .fa-user-friends, 
.fa-comment-alt, .fa-pause-circle, .fa-stop-circle, .fa-smile {
    font-size: 25px;
}

.fa-pause-circle, .fa-stop-circle {
    border: 3px;
    border-radius: 3px;
}

.fa-arrow-up {
    font-size: 15px;
    padding: 6px 11px;
    border-radius: 5px;
    color: #1a1a1a;
    background-color: #23d959;
}

.share-screen, .green{
    color: #23d959;
}

.col-footer-left, .col-footer-center, .col-footer-right {
    height: 50px;
    list-style: none;
}

.col-footer-left {
    width: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
}

.col-footer-left li, .col-footer-center li {
    text-align: center;
    position: relative;
}

.fa-angle-up {
    position: absolute;
    right: -5px;
    bottom: 20px;
}

.fa-plus {
    position: absolute;
    right: 12px;
    top: -1px;
    font-size: 10px;
    color: #abacac;
}

.number-patecipants {
    position: absolute;
    right: 5px;
    bottom: 30px;
    font-size: 10px;
}

.col-footer-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    min-width: 550px;
}

.col-footer-right {
    padding-right: 15px;

}

.btn-end {
    padding: 5px 15px;
    background-color: red;
    border-radius: 5px;
    line-height: 50px;
    text-decoration: none;
    color: white;
    font-weight: 800;
}