* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1a1a1a;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}

/* header */
header {
    width: 100%;
    height: 50px;
    /* border: 1px solid white; */
}

.container-header{
    display: flex;
    justify-content: space-between;
}

.col-header-left, .col-header-right {
    /* border: 1px solid red; */
    height: 50px;
    padding: 0 10px;
}

.shield-check {
    color: #23d959;
    padding: 4px 5px;
}

.recording> i {
    color: red;
}

.recording {
    color: #fff;
    padding: 10px 15px;
}

.shield-check, .recording {
    background-color: #101010;
    border-radius: 5px;
    line-height: 50px;
}

.view {
    color: #fff;
    background-color: #212122;
    padding: 10px 15px;
    border-radius: 10px;
    line-height: 50px;
}